@history_elementHeight: 20vh;
@history_listHeight: 100vh - @headerHeight;
#scroll-wrapper {
    overflow: scroll;
}
#history_list {
    height: @history_listHeight - 10vh;
    infinite-scroll-parent: true;
}
#history_list > ul{
    margin-left: 0;
    padding-left: 0;
    li {
        display: block;
        font-size: @history_elementHeight;
        width: @fullWidth;
        height: auto;
    }
}