@leader_elementHeight: 10vh;
@leader_listHeight: 100vh - @headerHeight - @leader_goHomeFooterHeight;
@leader_goHomeFooterHeight: 15vh;
@leader_pointsFontColor: #1E90FF;
@leader_topBorderColor: gray;
@leader_bottomBorderColor: white;
#scroll-wrapper {
    overflow: scroll;
}
#leader_list {
    height: @leader_listHeight;
    infinite-scroll-parent: true;
}
#leader_list > ul{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    li {
        display:table-row;
        border-top-color: @leader_topBorderColor;
        border-top-width: 5px;
        border-top: solid;
        border-bottom-color: @leader_bottomBorderColor;
        border-bottom-width: 5px;
        border-bottom: solid;
        font-size: @leader_elementHeight;
        width: @fullWidth;
        height: auto;
        .name {
            float: left;
            display: table-cell;
            width: 70vw;
        }
        .points {
            float: right;
            color: @leader_pointsFontColor;
            text-shadow: 2px 2px @headerShadowColor;
            display: table-cell;
            width: 30vw;
        }
    }
}
#leader_footer {
    height: auto;
    text-align: center;
    span {
        .Button;
        .Icon(@leader_goHomeFooterHeight - 5vh);
    }
}