@import "homeScreen";
//@import "colors";
@import "backgroundColor";
@import "board";


html, body, #uiView{
	width: 100%;
	height: 100vh;
	margin: 0 !important;
	padding: 0 !important;
}

#container{
	margin: 0;
    .BackgroundGradient;
	@media @smartPhonePort, @tabletPort, @smartPhoneLand, @tabletLand {
		width: 100%;
		height: 100vh%;
	}	
}

/*@media @smartPhonePort{
  @viewport {
  	width: 360px;
	height: 640px;
  }
}*/


