<div id="container">
    <div id="header"><br>
        <span>Tux4Words</span>
    </div>
    <div id="photoBox">
        <div id="photoFrame"></div>
    </div>
    <div id="boardFooter">
        <div id="tuxDiv"></div>
        <div id="nextContainer">
            <div id="buttonNext">
                <span>Next</span>
                <div id="nextIconDiv">
                    <span id="icon" class="icomatic icon">arrowright</span>
                </div>
            </div>
        </div>
    </div>
</div>
