<div id="container">
    <div id="header">
        <span class="title_ex" id="ex_{{id}}">{{title}}</span>
    </div>
    <div id="connect_labels" ng-model="labels">
        <!--<div class="label_button" ng-repeat="label in labels" ng-click="Chosen(label)">
            <span>{{label}}</span>
        </div>-->
        <div id="label_{{label}}" class="label_button" ng-repeat="label in labels" on-last-repeat>
            <span>{{label}}</span>
        </div>
    </div>
    <div id="connect_photoBox">
        <div id="PhotoFrame1" class="photoFrame"></div>
        <div id="PhotoFrame2" class="photoFrame"></div>
        <div id="PhotoFrame3" class="photoFrame"></div>
    </div>
    <div id="exercise_footer">
        <div id="lifes_container">
            <div id="1life"></div>
            <div id="2life"></div>
            <div id="3life"></div>
        </div>
        <div id="points_container">
            <span>{{points}}</span>
        </div>
    </div>
</div>