<div id="container">
    <div id="header">
        <span class="title_ex" id="ex_{{id}}">{{title}}</span>
    </div>
    <div id="order_photoBox">
        <div id="photoFrame">
            <div id="imageContainer">
            </div>
            <div id="lettersFrames" ng-model="frames">
                <div class='letter_frame' ng-repeat="frame in frames"  on-last-repeat>
                    <span>{{frame}}</span>
                </div>
            </div>
        </div>
        
    </div>
    <div id="order_letters" ng-model="letters">
        <div class="letter_button" ng-repeat="letter in letters"  on-last-repeat>
            <span>{{letter}}</span>
        </div>
    </div>
    <div id="exercise_footer">
        <div id="lifes_container">
            <div id="1life"></div>
            <div id="2life"></div>
            <div id="3life"></div>
        </div>
        <div id="points_container">
            <span>{{points}}</span>
        </div>
    </div>
</div>