<div id="container">
    <div id="header">
        <span id="title_ex">Type in</span>
    </div>
    <div id="exerciseMainScreen_tux"></div>
    <div id="exerciseScreen_menu" ng-model="basicOptions">
        <!--<div id="basic" ng-model="basicOptions">-->
            <div class="menuButton" ng-repeat="basicOption in basicOptions" ng-click="MoveTo(basicOption)">
                <span ng-model="basicOption" >{{basicOption}}</span>
            </div>
        <!--</div>-->
        <br />
    </div>
</div>