<div id="container">
    <div id="header">
        <span class="title_ex" id="{{exerciseTitleId}}">{{title}}</span>
    </div>
    <div id="typein_photoBox">
        <div id="photoFrame">
            <div id="imageContainer"></div>
            <div id="typein_input"><span>ddd</span></div>
        </div>
    </div>
    <div id="typein_keys" ng-model="keys">
        <!--<div class="key_button" ng-repeat="key in keys">
            <span>{{key}}</span>
        </div>-->
        <div class="key_button">
            <span>a</span>
        </div>
        <div class="key_button">
            <span>a</span>
        </div>
        <div class="key_button">
            <span>a</span>
        </div>
        <div class="key_button">
            <span>a</span>
        </div>
        <div class="key_button">
            <span>a</span>
        </div>
    </div>
    <div id="exercise_footer">
        <div id="lifes_container">
            <div id="1life"></div>
            <div id="2life"></div>
            <div id="3life"></div>
        </div>
        <div id="points_container">
            <span>{{points}}</span>
        </div>
    </div>
</div>