<div id="container">
    <div id="header">
        <span class="title_ex" id="ex_{{id}}">{{title}}</span>
    </div>
    <div id="order_photoBox">
        <div id="photoFrame">
            <div id="imageContainer">
            </div>
            <div id="lettersFrames">
                <div class='letter_frame'>
                    <span> </span>
                </div>
                <div class='letter_frame'>
                    <span> </span>
                </div>
                <div class='letter_frame'>
                    <span> </span>
                </div>
                <div class='letter_frame'>
                    <span> </span>
                </div>
            </div>
        </div>
        
    </div>
    <!--<div id="order_letters" ng-model="letters">
        <div class="label_button" ng-repeat="label in labels" ng-click="Chosen(label)">
            <span>{{label}}</span>
        </div>
    </div>-->
    <div id="order_letters" ng-model="letters">
        <div class='letter_button'>
            <span>w</span>
        </div>
        <div class='letter_button'>
            <span>o</span>
        </div>
        <div class='letter_button'>
            <span>c</span>
        </div>
        <div class='letter_button'>
            <span>a</span>
        </div>
    </div>
    <div id="exercise_footer">
        <div id="lifes_container">
            <div id="1life"></div>
            <div id="2life"></div>
            <div id="3life"></div>
        </div>
        <div id="points_container">
            <span>{{points}}</span>
        </div>
    </div>
</div>