<ion-view><div id="container">
    <div id="header">
        <span id="title_Tux">Tux</span>
        <span id="title_4">4</span>
        <span id="title_words">Words</span>
    </div>
    <div id="homeScreen_tux">
        <span id="settings" class="icomatic icon">settings</span>
        <br>
        <span id="history" class="icomatic">favorite</span>
    </div>
    <div id="homeScreen_menu" ng-model="basicOptions">
        <!--<div id="basic" ng-model="basicOptions">-->
            <div class="menuButton" ng-repeat="basicOption in basicOptions">
                <span ng-model="basicOption" ng-click="MoveTo(basicOption)">{{basicOption}}</span>
            </div>
        <!--</div>-->
        <hr id="homeScreen_menu_line"/>
        <!--<div id="exercisesMenu" ng-model="exerciseOptions">-->
            <div class="menuButton" ng-repeat="exerciseOption in exerciseOptions">
                <span ng-model="exerciseOption" ng-click="MoveTo(exerciseOption)">{{exerciseOption}}</span>
            </div>
        <!--</div>-->
    </div>
    </div></ion-view>
