<div id="container" >
    <div id="header"><br>
        <span>Make Test</span>
    </div>
    <div id="scroll-wrapper">
        <div id="makeTest_category_list" ng-model="categories">
            <ul>
                <li><input id="makeTest_name" value="name" type="text"></li>
                <li ng-repeat="category in categories">
                    <input type="checkbox">
                    <span class="category" ng-click="GoToCategory(category)">{{category}}</span>
                    <span class="next icomatic icon">nextlight</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="makeTest_footer">
        <span id="makeTest_home" class="icomatic icon" ng-click="GoHome()">home</span>
    </div>
</div>
