<div id="container">
    <div id="header">
        <span class="title_ex" id="{{titleId}}">{{title}}</span>
    </div>
    <div id="settingsScreen_tux">
        <span id="home" class="icomatic icon" ng-click="GoHome()">home</span>
    </div>
    <div id="settingsScreen_menu">
        <div id="wordsPerSession_Container">
            <span id="wordsPerSession_Span">Words per session</span>
            <input id="wordsPerSession_Input" type="text" value="12" ng-change="SetWordsPerSession()">
        </div>
    </div>
</div>