#header {
  height: 15vh;
  width: 100%;
  text-align: center;
}
#header > span {
  font-size: 9vh;
  font-style: oblique;
  font-weight: bolder;
  vertical-align: middle;
  color: #1e90ff;
  text-shadow: 2px 2px gray;
  position: relative;
  top: -3vh;
}
.Button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* W3C */
  box-shadow: 2px 2px 2px gray;
  border: solid #f2ac56;
}
.TuxBackg {
  background-image: url("../assets/images/tux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#header > #title_4 {
  font-size: 19vh;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  display: inline-block;
}
#homeScreen_tux {
  background-image: url("../assets/images/tux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media all {
  #homeScreen_tux {
    width: 100%;
    height: 30vh;
  }
}
#homeScreen_tux > span {
  position: relative;
  display: inline-block;
  font-size: 5vh;
  color: #1e90ff;
  text-shadow: 1px 2px gray;
}
#homeScreen_tux > #settings {
  left: 65%;
}
#homeScreen_tux > #history {
  left: 70%;
}
@media all {
  #homeScreen_menu {
    height: 55vh;
    width: 100%;
    text-align: center;
  }
}
#homeScreen_menu_line {
  background-color: #1e90ff;
  height: 3px;
  width: 80%;
  box-shadow: 1px 1px 1px gray;
  border: 0;
}
#homeScreen_menu > #basic {
  height: 30vh;
  text-align: center;
}
#homeScreen_menu > #exercisesMenu {
  height: 63vh;
  text-align: center;
}
@media all {
  .menuButton {
    display: inline-block;
    width: 70%;
    height: auto;
    text-align: center;
    margin-top: 1.1vh;
    border-width: 0.55%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
    /* W3C */
    box-shadow: 2px 2px 2px gray;
    border: solid #f2ac56;
  }
}
@media all {
  .menuButton > span {
    font-size: 5.5vh;
  }
}
.BackgroundGradient {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(44%, #4096ee), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* W3C */
}
.ButtonGradient {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* W3C */
}
#board_photoBox {
  width: 100%;
  height: 70vh;
  text-align: center;
}
#board_photoBox > #photoFrame {
  background-color: white;
  height: 66.5vh;
  width: 90%;
  display: inline-block;
  box-shadow: 4px 4px 10px gray;
}
#photoFrame > img {
  max-height: 52.5vh;
  max-width: 81%;
}
#photoFrame > span {
  display: block;
  font-size: 15.5vh;
  position: relative;
  top: -5vh;
}
#boardFooter {
  width: 100%;
  height: 15vh;
}
#boardFooter > #tuxDiv {
  display: inline-block;
  background-image: url("../assets/images/tux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media all {
  #boardFooter > #tuxDiv {
    width: 30%;
    height: 100%;
    float: left;
  }
}
#boardFooter > #nextContainer {
  display: inline-block;
}
@media all {
  #boardFooter > #nextContainer {
    width: 70%;
    height: 15vh;
    text-align: right;
  }
}
#nextContainer > #buttonNext {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* W3C */
  box-shadow: 2px 2px 2px gray;
  border: solid #f2ac56;
  display: inline-block;
}
@media all {
  #nextContainer > #buttonNext {
    height: 7.5vh;
    width: 70%;
    text-align: right;
    margin-right: 3.5%;
    margin-top: 2.25vh;
  }
}
#buttonNext > span {
  display: inline-block;
  float: left;
  font-size: 7.5vh;
}
@media only screen and (min-device-width: 480px) and (orientation: landscape), screen and (min-width:801px) and (orientation: landscape) {
  #buttonNext > span {
    margin-left: 30%;
  }
}
#buttonNext > #finish {
  margin-left: 15%;
}
#nextIconDiv > span {
  float: right;
  margin-right: 20%;
  margin-top: 1vh;
  font-size: 6vh;
  -webkit-transform: scale(1.5, 0.7);
  -moz-transform: scale(1.5, 0.7);
  -ms-transform: scale(1.5, 0.7);
  -o-transform: scale(1.5, 0.7);
  transform: scale(1.5, 0.7);
  text-shadow: 0px 3px 0px rgba(255, 255, 255, 0.7);
}
#header > .title_ex {
  top: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait), only screen and (min-width:600px) and (orientation: portrait) {
  #header > #ex_orderTheLetters {
    font-size: 13vw;
  }
}
#exerciseMainScreen_tux {
  height: 50vh;
  width: 100vw;
  background-image: url("../assets/images/tux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#exerciseScreen_menu {
  height: 35vh;
  width: 100vw;
  text-align: center;
}
#whatisit_photoBox {
  height: 53vh;
  width: 100vw;
  text-align: center;
}
#whatisit_photoBox > #photoFrame {
  height: 53vh;
  width: 80vw;
  display: inline-block;
  background-color: white;
  box-shadow: 4px 4px 10px gray;
}
#whatisit_labels {
  height: 15vh;
}
#whatisit_labels > .label_button {
  height: auto;
  width: 25vw;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* W3C */
  box-shadow: 2px 2px 2px gray;
  border: solid #f2ac56;
  display: inline-block;
  float: left;
  margin-top: 3vh;
  margin-left: 3vw;
  margin-right: 3vw;
  text-align: center;
}
#whatisit_labels > .label_button > span {
  font-size: 8vh;
}
#exercise_footer > #lifes_container {
  height: 15vh;
  display: inline-block;
  float: left;
}
#exercise_footer > #lifes_container > .dead {
  opacity: 0.3;
}
#exercise_footer > #lifes_container > div {
  background-image: url("../assets/images/tux.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;
  width: 20vw;
  display: inline-block;
  float: left;
}
#exercise_footer > #points_container {
  margin-right: 1vw;
  height: 15vh;
  text-align: right;
}
#exercise_footer > #points_container > span {
  font-size: 13vh;
  width: 80vw;
  color: #fdc733;
  text-shadow: 3px 3px 1px #f2ac56;
}
#connect_photoBox {
  height: 68vh;
  width: 50vw;
  text-align: center;
  display: inline-block;
}
#connect_photoBox > .photoFrame {
  height: 17.66666667vh;
  width: 38vw;
  display: inline-block;
  background-color: white;
  box-shadow: 4px 4px 10px gray;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#connect_photoBox > .active {
  box-shadow: 0px 0px 25px #fdc733;
}
#connect_photoBox > .wrong {
  box-shadow: 0px 0px 25px red;
}
#connect_photoBox > .solved {
  box-shadow: 0px 0px 25px #00e600;
}
#connect_photoBox > .photoFrame > img {
  max-height: 15.66666667vh;
  max-width: 36vw;
}
#connect_labels {
  height: 68vh;
  width: 50vw;
  display: inline-block;
  float: left;
  text-align: center;
}
#connect_labels > .label_button {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#connect_labels .label_button,
#connect_photoBox > .photoFrame .label_button {
  height: auto;
  width: 38vw;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffdc10), color-stop(44%, #f5bb50), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffdc10 0%, #fdc733 44%, #f5bb50 100%);
  /* W3C */
  box-shadow: 2px 2px 2px gray;
  border: solid #f2ac56;
  display: inline-block;
  text-align: center;
}
#connect_photoBox > .photoFrame > .label_button {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 220, 16, 0.6) 0%, rgba(253, 199, 51, 0.6) 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 220, 16, 0.6)), color-stop(44%, rgba(245, 187, 80, 0.6)), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 220, 16, 0.6) 0%, rgba(253, 199, 51, 0.6) 44%, rgba(245, 187, 80, 0.6) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 220, 16, 0.6) 0%, rgba(253, 199, 51, 0.6) 44%, rgba(245, 187, 80, 0.6) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 220, 16, 0.6) 0%, rgba(253, 199, 51, 0.6) 44%, rgba(245, 187, 80, 0.6) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 220, 16, 0.6) 0%, rgba(253, 199, 51, 0.6) 44%, rgba(245, 187, 80, 0.6) 100%);
  /* W3C */
  border-width: 0px;
}
#connect_labels .label_button > span,
#connect_photoBox > .photoFrame .label_button > span {
  font-size: 7.6vh;
}
html,
body,
#uiView {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
#container {
  margin: 0;
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(44%, #4096ee), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #85bef7 44%, #4096ee 100%);
  /* W3C */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait), only screen and (min-width:600px) and (orientation: portrait), only screen and (min-device-width: 480px) and (orientation: landscape), screen and (min-width:801px) and (orientation: landscape) {
  #container {
    width: 100%;
    height: 100vh;
  }
}
/*@media @smartPhonePort{
  @viewport {
  	width: 360px;
	height: 640px;
  }
}*/
